{{!--
add header
add search bar
add collection
add dropdown for sorting collection
organize grid for album art, album info, and extra info
add footer
--}}
<div class="container">
    <div class="collection-container">
        <section id="cover">
            {{!-- album image goes here --}}
        </section>

        <section id="general-info">
            {{!-- album name, artist, and release date goes here --}}
        </section>

        <section id="more-info">
            {{!-- condition, price and additional notes go here --}}
        </section>
    </div>
</div>