{{!-- search bar
on search bring up a list of albums with art, album name, release year
on click album art 
dropdown menus for search parameters
search button
create link to route to this page if collection is empty --}}

<div class="container">
    <div class="row">
        <h1 class="home">Search Results</h1>
    </div>

    <div class="row">
        div
    </div>
</div>