* {
    box-sizing: border-box;
    color: black;
    font-weight: bolder;
}

h1 {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.description {
    padding-right: 20px;
}

#login-form {
    text-align: left;
    padding: 30px 30px 15px 30px;
    box-shadow: 5px 5px 5px 5px black;
}

#createAccount,
#loginlink {
    padding-top: 20px;
    text-align: center;
}

.collection-container {
    width: 1024px;
    margin: 40px auto;
}

.hidden {
    display: none;
}

#collectionsearch {
    width: 50%;
    margin: 0 auto;
}

#cover, #general-info, #more-info {
    width: 500px;
    padding: 30px;
}

#cover, #general-info {
    float: left;
}
#more-info {
    float: right;
}